In [22]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as scs
import statsmodels.api as sm
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
%matplotlib inline

In [23]:
df = pd.read_csv('train.csv')
df.head()

,ID,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,1,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,2,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,4,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
3,5,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2
4,7,0.08829,12.5,7.87,0,0.524,6.012,66.6,5.5605,5,311,15.2,395.60,12.43,22.9

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 333 entries, 0 to 332
Data columns (total 15 columns):
ID         333 non-null int64
crim       333 non-null float64
zn         333 non-null float64
indus      333 non-null float64
chas       333 non-null int64
nox        333 non-null float64
rm         333 non-null float64
age        333 non-null float64
dis        333 non-null float64
rad        333 non-null int64
tax        333 non-null int64
ptratio    333 non-null float64
black      333 non-null float64
lstat      333 non-null float64
medv       333 non-null float64
dtypes: float64(11), int64(4)
memory usage: 39.1 KB

In [33]:
y = df.medv
X = df.drop(columns=['medv'])
X = X[['zn', 'chas', 'rm', 'dis', 'black', 'lstat']]

In [34]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=42)

In [35]:
results = sm.OLS(y_train, X_train).fit()
results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                   medv   R-squared:                       0.956
Model:                            OLS   Adj. R-squared:                  0.954
Method:                 Least Squares   F-statistic:                     813.7
Date:                Wed, 13 Mar 2019   Prob (F-statistic):          1.96e-150
Time:                        14:15:37   Log-Likelihood:                -717.28
No. Observations:                 233   AIC:                             1447.
Df Residuals:                     227   BIC:                             1467.
Df Model:                           6
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
zn             0.0727      0.019      3.786      0.000       0.035       0.111
chas           5.2342      1.545      3.387      0.001       2.189       8.279
rm             4.8934      0.278     17.582      0.000       4.345       5.442
dis           -1.2318      0.252     -4.885      0.000      -1.729      -0.735
black          0.0113      0.004      2.696      0.008       0.003       0.020
lstat         -0.6774      0.048    -14.026      0.000      -0.773      -0.582
==============================================================================
Omnibus:                       75.573   Durbin-Watson:                   2.115
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              245.526
Skew:                           1.353   Prob(JB):                     4.84e-54
Kurtosis:                       7.239   Cond. No.                     1.64e+03
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.64e+03. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [36]:
yhat = results.predict(X_test)

In [37]:
r2_score(y_test, yhat)

0.7114419709080142

In [45]:
df1 = pd.read_csv('test.csv')
X1 = df1[['zn', 'chas', 'rm', 'dis', 'black', 'lstat']]

In [71]:
out = np.array([df1.ID, results.predict(X1)]).T
out = pd.DataFrame(out)
out.columns = ['ID', 'medv']
out['ID'] = out.ID.astype('int64')
out.to_csv('cool.csv', index=None)

In [86]:
out

      ID      medv
0      3  37.50034
1      6  24.01994
2      8  16.08232
3      9  16.54648
4     10  17.08906
5     18  19.29784
6     20  20.91918
7     25  17.39056
8     26  15.48014
9     27  18.28798
10    29  21.30406
11    30  22.84084
12    33  16.56792
13    34  16.26582
14    36  21.02800
15    37  20.79518
16    38  20.70482
17    42  30.01836
18    49  16.84864
19    53  24.37178
20    60  19.63550
21    63  23.76522
22    70  19.91308
23    72  20.93960
24    79  20.81126
25    80  20.17192
26    83  23.37570
27    92  22.93544
28    93  23.25478
29    96  27.92568
..   ...       ...
143  411  27.11312
144  412  10.25942
145  413   8.72414
146  417  10.22818
147  421  18.01816
148  422  18.26886
149  423  20.48882
150  424  13.77352
151  427  18.17174
152  431  15.21102
153  436  14.79396
154  437  15.04392
155  439   8.51206
156  447  16.56850
157  450  16.17652
158  451  15.32776
159  455  16.25000
160  457  17.21042
161  471  17.24892
162  474  24.77790
163  476  16.63492
164  483  30.63930
165  486  21.85952
166  490  13.98244
167  495  20.35244
168  496  17.12644
169  497  17.18364
170  499  20.49946
171  501  20.03688
172  505  28.61946

[173 rows x 2 columns]