In [1]:
import pandas as pd
import numpy as np
import statsmodels.api as sm
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt
from pandas.plotting import scatter_matrix
%matplotlib inline

In [2]:
df = pd.read_csv('cars_multivariate.txt')
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car_name
0,18.0,8,307.0,130.0,3504.0,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693.0,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436.0,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433.0,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140.0,3449.0,10.5,70,1,ford torino

In [3]:
df['hp'] = pd.to_numeric(df.horsepower, errors='coerce')

In [4]:
df = df[~df.hp.isna()].drop(columns=['horsepower'])
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 392 entries, 0 to 397
Data columns (total 9 columns):
mpg             392 non-null float64
cylinders       392 non-null int64
displacement    392 non-null float64
weight          392 non-null float64
acceleration    392 non-null float64
model           392 non-null int64
origin          392 non-null int64
car_name        392 non-null object
hp              392 non-null float64
dtypes: float64(5), int64(3), object(1)
memory usage: 30.6+ KB

In [5]:
df.corr()['mpg'].sort_values()

weight         -0.832244
displacement   -0.805127
hp             -0.778427
cylinders      -0.777618
acceleration    0.423329
origin          0.565209
model           0.580541
mpg             1.000000
Name: mpg, dtype: float64

In [6]:
y = df.mpg

In [7]:
X = df.drop(columns=['origin', 'car_name', 'model', 'mpg', 'acceleration'])

In [8]:
X = sm.add_constant(X)

/home/chyld/.conda/envs/py37/lib/python3.7/site-packages/numpy/core/fromnumeric.py:2389: FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
  return ptp(axis=axis, out=out, **kwargs)

In [19]:
X.head()

   const  cylinders  displacement  weight     hp
0    1.0          8         307.0  3504.0  130.0
1    1.0          8         350.0  3693.0  165.0
2    1.0          8         318.0  3436.0  150.0
3    1.0          8         304.0  3433.0  150.0
4    1.0          8         302.0  3449.0  140.0

In [20]:
model = sm.OLS(y, X)
results = model.fit()

In [21]:
results.params

const           45.756771
cylinders       -0.393285
displacement     0.000139
weight          -0.005277
hp              -0.042812
dtype: float64

In [22]:
results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                    mpg   R-squared:                       0.708
Model:                            OLS   Adj. R-squared:                  0.705
Method:                 Least Squares   F-statistic:                     234.2
Date:                Wed, 13 Mar 2019   Prob (F-statistic):          6.18e-102
Time:                        04:12:32   Log-Likelihood:                -1120.1
No. Observations:                 392   AIC:                             2250.
Df Residuals:                     387   BIC:                             2270.
Df Model:                           4
Covariance Type:            nonrobust
================================================================================
                   coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------
const           45.7568      1.520     30.102      0.000      42.768      48.745
cylinders       -0.3933      0.410     -0.960      0.338      -1.199       0.412
displacement     0.0001      0.009      0.015      0.988      -0.018       0.018
weight          -0.0053      0.001     -7.364      0.000      -0.007      -0.004
hp              -0.0428      0.013     -3.327      0.001      -0.068      -0.018
==============================================================================
Omnibus:                       37.596   Durbin-Watson:                   0.862
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               50.918
Skew:                           0.696   Prob(JB):                     8.77e-12
Kurtosis:                       4.085   Cond. No.                     2.23e+04
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.23e+04. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [28]:
results.predict(X)

0      18.596290
1      16.106440
2      18.100416
3      18.114303
4      18.457715
5      11.284993
6      10.277987
7      10.711746
8       9.689384
9      14.213168
10     16.582994
11     16.762396
12     16.396724
13     16.755519
14     27.614683
15     24.407142
16     24.633009
17     26.133729
18     29.189224
19     32.544115
20     26.373615
21     27.521836
22     27.597602
23     27.573420
24     25.597620
25      9.101651
26     10.997722
27     10.539462
28      9.418319
29     29.189224
         ...
367    26.684651
368    26.499950
369    27.792857
370    26.971403
371    27.281269
372    25.918410
373    25.145225
375    30.581286
376    30.598744
377    30.888988
378    30.287033
379    29.986374
380    29.034104
381    29.351388
382    29.354502
383    30.958187
384    30.958187
385    30.799872
386    23.171550
387    23.883710
388    26.625055
389    23.673498
390    26.029965
391    28.099231
392    24.783818
393    25.797888
394    30.730474
395    28.495019
396    26.965531
397    26.335623
Length: 392, dtype: float64

In [ ]:
model.